app/__pycache__/
app/utils/__pycache__/
cli/vendor/
app/src/__pycache__/
app/entidades/__pycache__/
app/crawler/__pycache__/
app/banco_dados/__pycache__/
app/crawler/processadores/__pycache__/
app/src/Repositorios/__pycache__/
.idea/*
app/buscas_individuais/__pycache__/
app/crawler/parseadores/__pycache__/
app/tests/__pycache__/
app/tests/__pycache__/
