<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bairros Brasileiros</title>
</head>
<body>
    <h1>Bairros Brasileiros</h1>

    <ul>
        <li><a href="/banco/ajuda">/banco/ajuda</a></li>
        <li><a href="/cidade/adicionar">/cidade/adicionar</a></li>
        <li><a href="/receita/adicionar">/receita/adicionar</a></li>
        <li><a href="/receita/rodar">/receita/rodar</a></li>
        <li><a href="/receitas">/receitas</a></li>
        <li><a href="/buscas/historico">/buscas/historico</a></li>
    </ul>
</body>
</html>